.dark-mode {
    background-color: #050918;
    color: rgba(255, 255, 255, 0.932);
}

body {
    font-family: sans-serif;
    margin: 0px;
}

.navbar {
    background-color: #0b1125;
    color: white;
}

a:hover {
    color: #7758dd;
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

li {
    list-style-type: none;
    padding: 10px 30px;
}

ul {
    display: ruby;
    padding-top: 10px;
}

.nav {
    display: flex;
    padding: 10px;
}

.get-theme {
    padding: 12px 28px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(90deg, #5b4bff, #ff4fd8);
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.list {
    padding: 10px 200px;
}

.theme {
    display: flex;
    align-items: end;
    gap: 20px;
}

.logo {
    padding: 0px 100px;
}

.dark-button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: #111827;
    color: white;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

}

.get-started {
    padding: 12px 28px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(90deg, #5b4bff, #ff4fd8);
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.get-started:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(255, 79, 216, 0.3);
}

h1 {
    margin: 5px 5px;
    font-size: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #f8f8fc;
}

h3 {
    color: black;
}

.hero {
    background-image: url("lavender.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px;
    gap: 50px;
    margin-bottom: 100px;
}

.hero-content {
    flex: 1;
}

.hero-content h1 {
    font-size: 60px;
    line-height: 1.2;
}

.hero-content span {
    color: #8b5cf6;
}

.hero-content p {
    margin: 25px 0;
    font-size: 18px;
    max-width: 500px;
}

.hero-btns {
    display: flex;
    gap: 15px;
}

.btn-primary {
    background: #8b5cf6;
    color: white;
    border: none;
    padding: 14px 30px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-primary:hover {
    color: white;
}

.btn-secondary {
    background: white;
    border: 2px solid #8b5cf6;
    color: #8b5cf6;
    padding: 14px 30px;
    border-radius: 10px;
    cursor: pointer;
}

.hero-image {
    flex: 1;
}

.hero-image img {
    width: 90%;
}

.stats {
    display: flex;
    gap: 40px;
    margin-top: 50px;
    flex-wrap: wrap;
}


.stat-box p {
    margin-top: 5px;
    font-size: 14px;
}

.features {
    width: 98%;
    margin: 20px;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
}

.section-title h2 {
    font-size: 40px;
}

.section-title p {
    margin-top: 10px;
}

.feature-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    margin: 70px;
}

.feature-card {
    background: white;
    display: flex;
    padding: 17px 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px #888888;
    line-height: 25px;
}

.feature-card h3 {
    margin: 15px;
}

.feature-card p {
    font-size: 15px;
    font-weight: 500;
}

.fa {
    padding: 33px 5px;
    margin: 0px 20px;
}

.projects {
    width: 90%;
    margin: 100px auto;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.project-header h2 {
    font-size: 38px;
    margin-bottom: 8px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.project-card {
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-8px);
}

.project-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.project-info {
    padding: 18px;
}

.project-info h3 {
    margin-bottom: 12px;
}

.tags {
    display: flex;
    gap: 8px;
}

.tags span {
    padding: 5px 10px;
    background: #f3e8ff;
    color: #8b5cf6;
    border-radius: 20px;
    font-size: 12px;
}